// colors
$mainTextColor: #111827;
$Default-yellow-300: #fcd34d;
$Default-yellow-400: #fbbf24;
$Default-gray-50: #f9fafb;
$Default-gray-100: #f3f4f6;
$Default-gray-200: #e5e7eb;
$Default-gray-300: #d1d5db;
$Default-gray-400: #9ca3af;
$Default-gray-500: #6b7280;
$Default-gray-600: #4b5563;
$Default-gray-900: #111827;
// burger
$burger-breakPoint: 47.5rem;
// devisec
$currentScreen: 90.0625rem;
$laptop: 68.8125rem;
$tablet: 46.5625rem;
$mobile: 26.9375rem;
// Main font family and weight
$fFamily: "Manrope", sans-serif;

// Header

$headerHeight: 4.375rem;
