@use "../utils/variables" as *;
@use "../components/contact-us";
@use "../components/article-card";
.article-page {
  .contact-us {
    &__container {
      min-height: 65rem;
      padding-top: 4.75rem;
      padding-bottom: 4.75rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      @media screen and (max-width: ($mobile + 6.25rem)) {
        padding-right: 0;
        padding-left: 0;
      }
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../images/contact-us__bg.webp") no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      z-index: 0;
      @media screen and (max-width: 45rem) {
        background-attachment: scroll;
      }
    }
  }

  .preview {
    margin-bottom: 2rem;
    &__container {
      padding-top: 6.0625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
    &__top {
      margin-bottom: 2.5rem;
      padding: 0 1rem;
    }
    &__title {
      font-size: 2.125rem;
      font-weight: 500;
      line-height: 117%;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__info {
      display: flex;
      justify-content: center;
    }
    &__image {
      position: relative;
      margin-bottom: 2rem;
      height: 100%;
      min-height: 17.5rem;
      padding-top: 48%;
      max-height: 43.25rem;
      width: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__text-block {
      padding: 0 1rem;
    }
    &__text-block p:not(:last-child) {
      margin-bottom: 1.25rem;
    }
    &__text {
      max-width: 43.75rem;
      line-height: 150%;
    }
  }
  .body {
    margin-bottom: 2rem;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__h2 {
      font-size: 1.5rem;
      word-wrap: break-word;
      font-weight: 500;
      line-height: 133%;
      margin-bottom: 1rem;
      max-width: 43.75rem;
      width: 100%;
    }
    &__h3 {
      font-size: 1.25rem;
      word-wrap: break-word;
      font-weight: 500;
      margin-bottom: 1rem;
      max-width: 43.75rem;
      width: 100%;
    }
    &__h4 {
      font-size: 1rem;
      word-wrap: break-word;
      font-weight: 500;
      margin-bottom: 1rem;
      max-width: 43.75rem;
      width: 100%;
    }
    &__text-block {
      max-width: 43.75rem;
      width: 100%;
      margin-bottom: 2rem;
      & p:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &__text {
      line-height: 150%;
    }
    &__gallery {
      margin-bottom: 2rem;
    }
  }
  .gallery-body {
    display: grid;
    width: 100%;
    &__item {
      position: relative;
    }
    &.gallery--1-images {
      .gallery-body__item {
        height: 100%;
        width: 100%;
        padding-top: 35%;
        min-height: 12rem;
      }
    }
    &.gallery--2-images {
      grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
      gap: 1.25rem;
      .gallery-body__item {
        height: 100%;
        width: 100%;
        padding-top: 70%;
        min-height: 19rem;
      }
    }
    &.gallery--3-images {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 1.25rem;
      .gallery-body__item {
        min-height: 16.25rem;
        height: 100%;
        padding-top: 55%;
        width: 100%;
      }
    }
    &.gallery--4-images {
      display: flex;
      width: 100%;
      overflow-y: auto;
      gap: 1.25rem;
      .gallery-body__item {
        min-height: 19.25rem;
        height: 100%;
        padding-top: 50%;
        width: 100%;
        min-width: 19rem;
      }
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .related-works {
    margin-bottom: 2.5rem;
    &__title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 133.333%;
      margin-bottom: 0.75rem;
    }
    &__articles {
      overflow-x: auto;
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      gap: 1.5rem;
    }
    &__item {
      min-width: 20rem;
      max-width: 24.5rem;
      flex: 1 1 auto;
    }
  }

  @media screen and (min-width: $mobile) {
    .preview {
      &__container {
        padding-top: 8.5rem;
      }
      &__top {
        padding: 0 2.5rem;
      }
      &__text-block {
        padding: 0 2.5rem;
      }
    }
    .related-works {
      margin-bottom: 3.75rem;
      &__title {
        font-size: 1.75rem;
        line-height: 142.85%;
        margin-bottom: 1.5rem;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    .preview {
      margin-bottom: 3.75rem;
      &__title {
        font-size: 3rem;
        line-height: 108.3%;
        max-width: 43.75rem;
        margin-bottom: 1.25rem;
      }
      &__image {
        margin-bottom: 3.75rem;
      }
      &__text {
        font-size: 1.125rem;
        line-height: 155%;
      }
    }
    .body {
      &__h2 {
        font-size: 1.75rem;
        line-height: 143%;
      }
      &__h3 {
        font-size: 1.5rem;
        line-height: 143%;
      }
      &__h4 {
        font-size: 1.25rem;
        line-height: 143%;
      }
      &__text-block {
        margin-bottom: 3.75rem;
      }
      &__text {
        font-size: 1.125rem;
        line-height: 155%;
      }
      &__gallery {
        margin-bottom: 3.75rem;
      }
    }
    .gallery-body {
      &.gallery--1-images {
        .gallery-body__item {
          min-height: 18rem;
        }
      }
      &.gallery--3-images {
        gap: 1.5rem;
        .gallery-body__item {
          padding-top: 104%;
        }
      }
      &.gallery--4-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
        gap: 1.675rem;
        .gallery-body__item {
          padding-top: 123%;
          min-height: 16.25rem;
          height: 100%;
          width: 100%;
          min-width: auto;
        }
        .gallery-body__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
